<div class="bg-[#ededfe]">
  <header class="hidden md:flex p-4 justify-between items-center">
    <a routerLink="" class="flex items-center">
      <img
        src="../../../assets/bookworm.png"
        alt="Logo"
        class="h-20 w-auto ml-8"
      />
    </a>

    <div class="hidden md:flex space-x-8 mr-16">
      <a
        routerLink="blogs"
        routerLinkActive="text-indigo-600 font-extrabold underline"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:underline text-xl font-bold"
        >All Posts</a
      >
      <a
        routerLink="blogs/new"
        routerLinkActive="text-indigo-600 font-extrabold underline"
        class="hover:underline text-xl font-bold"
        >New Post</a
      >

      <ng-container *ngIf="!(loggedIn | async)">
        <a
          routerLink="users/login"
          routerLinkActive="text-indigo-600 font-extrabold underline"
          class="hover:underline text-xl font-bold"
          >Log in</a
        >
        <a
          routerLink="users/signup"
          routerLinkActive="text-indigo-600 font-extrabold underline"
          class="hover:underline text-xl font-bold"
          >Sign Up</a
        >
      </ng-container>

      <ng-container *ngIf="loggedIn | async">
        <a
          routerLink="users/profile"
          routerLinkActive="text-indigo-600 font-extrabold underline"
          class="hover:underline text-xl font-bold"
          >My Account</a
        >
        <p
          (click)="handleLogout()"
          class="cursor-pointer hover:underline text-xl font-bold"
        >
          Log out
        </p>
      </ng-container>
    </div>
  </header>

  <div class="md:hidden">
    <div class="flex flex-col items-center space-y-2 pt-4">
      <a routerLink="" class="flex items-center">
        <img
          src="../../../assets/bookworm.png"
          alt="Logo"
          class="h-24 w-auto my-8"
        />
      </a>
      <a
        routerLink="blogs"
        routerLinkActive="text-indigo-600 font-extrabold underline"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:underline text-lg font-bold"
      >
        All Posts
      </a>
      <a
        routerLink="blogs/new"
        routerLinkActive="text-indigo-600 font-extrabold underline"
        class="hover:underline text-lg font-bold"
      >
        New Post
      </a>

      <ng-container *ngIf="!(loggedIn | async)">
        <a
          routerLink="users/login"
          routerLinkActive="text-indigo-600 font-extrabold underline"
          class="hover:underline text-lg font-bold"
        >
          Log in
        </a>
        <a
          routerLink="users/signup"
          routerLinkActive="text-indigo-600 font-extrabold underline"
          class="hover:underline text-lg font-bold"
        >
          Sign Up
        </a>
      </ng-container>

      <ng-container *ngIf="loggedIn | async">
        <a
          routerLink="users/profile"
          routerLinkActive="text-indigo-600 font-extrabold underline"
          class="hover:underline text-lg font-bold"
        >
          My Account
        </a>
        <p
          (click)="handleLogout()"
          class="cursor-pointer hover:underline text-lg font-bold"
        >
          Log out
        </p>
      </ng-container>
    </div>
  </div>

  <!-- <div class="h-[0.1rem] mt-1 bg-black"></div> -->
</div>
