<div class="min-h-[86vh] md:mx-8 mx-auto p-4 flex justify-center items-center">
  <div
    class="account flex flex-col md:flex-row items-center md:justify-around bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-10 w-full md:w-[70%] lg:w-[40%]"
  >
    <img
      class="user-img w-32 h-32 mb-4 md:mb-0 md:mr-4 rounded-full"
      src="../../../assets/reader.png"
      alt="profile"
    />

    <div class="user-details">
      <div class="detail-group mb-4 md:mb-6">
        <p class="text-gray-600 text-sm md:text-base">Username:</p>
        <b class="text-lg text-blue-500">{{ user?.name }}</b>
      </div>

      <div class="detail-group mb-4 md:mb-6">
        <p class="text-gray-600 text-sm md:text-base">Email:</p>
        <b class="text-lg text-blue-500">{{ user?.email }}</b>
      </div>

      <div class="detail-group update-btn">
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue transition-all duration-300"
        >
          Update Account Details
        </button>
      </div>
    </div>
  </div>
</div>
