<div class="min-h-[86vh] md:mx-8 mx-auto p-4 my-4">
  <div *ngIf="!updateBlog" class="mx-auto p-4 lg:w-2/3">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <h1 class="text-3xl font-bold mb-4">{{ blog?.title }}</h1>
      <div
        *ngIf="user && user._id == (blog?.author)!._id"
        class="flex space-x-2 mb-4"
      >
        <button
          (click)="toggleUpdateBlog()"
          class="bg-blue-900 text-white px-4 py-2 rounded-md"
        >
          Update blog
        </button>
        <button
          (click)="deleteBlog()"
          class="bg-red-700 text-white px-4 py-2 rounded-md"
        >
          Delete blog
        </button>
      </div>
      <p class="text-gray-600 mb-4">
        <span class="font-semibold">Created At:</span>
        {{ blog?.createdAt | date : "medium" }}
      </p>
      <div
        class="text-gray-800 mb-6 whitespace-pre-line"
        [innerHTML]="blog?.content"
      ></div>
    </div>
  </div>

  <div *ngIf="updateBlog" class="mx-auto p-4 lg:w-2/3">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <label for="blogTitle" class="block mb-2">Blog Title:</label>
      <input
        type="text"
        id="blogTitle"
        [(ngModel)]="updatedBlogTitle"
        class="w-full border rounded-md px-3 py-2 mb-4"
      />

      <label for="blogContent" class="block mb-2">Blog Content:</label>
      <angular-editor
        [placeholder]="'Enter blog content...'"
        [(ngModel)]="updatedBlogContent"
        [config]="editorConfig"
        class="w-full border rounded-md px-3 py-2 mb-4"
      ></angular-editor>

      <div class="flex space-x-2">
        <button
          (click)="handleBlogUpdate()"
          class="bg-green-500 text-white px-4 py-2 rounded-md"
        >
          Update Blog
        </button>
        <button
          (click)="toggleUpdateBlog()"
          class="bg-gray-500 text-white px-4 py-2 rounded-md"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
