<div class="flex flex-col md:flex-row min-h-[86vh]">
  <div class="md:flex-1 p-8 flex items-center justify-center">
    <div class="md:pl-16">
      <p class="md:text-5xl italic">
        Our place for gushing over, ranting, and calling out on books we read :)
      </p>
      <a routerLink="/blogs" class="">
        <p
          class="mt-4 text-white bg-indigo-500 hover:underline hover:px-[1.2rem] hover:text-[1.1rem] px-4 py-2 rounded-full inline-block"
        >
          Browse the latest blogs
        </p>
      </a>
    </div>
  </div>

  <div class="md:flex-1 flex items-end justify-center">
    <img
      class="reader-img mx-auto mt-8 md:mt-0 h-[30rem]"
      src="../../../assets/reader.png"
      alt="reader"
    />
  </div>
</div>
