<div class="home flex flex-col md:flex-row">
  <div class="left md:flex-1 p-8">
    <div class="hero bg-blue-500 text-white p-6 rounded-lg">
      <p class="hero-text text-lg">
        Our place for gushing over, ranting, and calling out on books we read :)
      </p>
      <a routerLink="/blogs" class="hero-link block mt-4">
        <p
          class="hero-link-text animated-button text-white bg-indigo-500 px-4 py-2 rounded-full inline-block"
        >
          Browse the latest blogs
        </p>
      </a>
    </div>
  </div>

  <div class="right md:flex-1">
    <img
      class="reader-img mx-auto mt-8 md:mt-0"
      src="../../../assets/reader.png"
      alt="reader"
    />
  </div>
</div>
