<div class="min-h-[86vh] md:mx-8 mx-auto p-4">
  <h1 class="text-3xl font-bold">All Blogs</h1>
  
  <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-4">
    <div
      *ngFor="let blog of blogs"
      class="bg-white shadow-lg rounded-lg p-6 mb-2"
    >
      <h2
        (click)="goToBlog(blog)"
        class="text-xl font-semibold mb-2 cursor-pointer hover:underline"
      >
        {{ blog.title }}
      </h2>
      <p class="text-gray-600 mb-2">
        <span class="font-semibold">Author:</span> {{ blog.author.name }}
      </p>
      <p class="text-gray-600 mb-2">{{ blog.createdAt | date : "medium" }}</p>
      <div
        class="text-gray-800 mb-2 line-clamp-3"
        [innerHTML]="blog?.content"
      ></div>
      <a
        (click)="goToBlog(blog)"
        class="text-blue-500 cursor-pointer hover:underline"
        >Read more...</a
      >
    </div>
  </div>
</div>
